@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

:root {
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #3498db;
    --primary-color: #ecf0f1;
    --secondary-color: #2c3e50;
    --box-border-color: #2980b9;
}

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
}

h1, h2, h3 {
    margin: 0;
    color: var(--secondary-color);
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.5em;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.2em;
    margin-top: 30px;
}

.box {
    border: 2px solid var(--box-border-color);
    display: inline-block;
    font-size: 2.5em;
    padding: 10px;
    margin: 20px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 5px;
}

.btn-jogar {
    padding: 10px 20px;
    border: 0;
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.btn-jogar:hover {
    background: #34495e;
    color: var(--primary-color);
}